/OCR-To-TEI/lib
/OCR-To-TEI/target
/OCR-To-TEI/.vscode
/.vscode
*.class
/OCR-To-TEI/scripts/startWithConstant.sh
/OCR-To-TEI/scripts/startAltModsWithConstant.sh
/OCR-To-TEI/src/main/resources/ocrOutputFiles/backup
