/OCR-To-TEI/lib
/OCR-To-TEI/target
/OCR-To-TEI/.vscode
/.vscode
*.class
/OCR-To-TEI/src/main/java/de/uni_trier/bibliothek/xml/tei/TEICreator_backup.java
/OCR-To-TEI/src/main/resources/TEIxsd_backup.xsd
/OCR-To-TEI/scripts/startWithConstant.sh
/OCR-To-TEI/scripts/startAltModsWithConstant.sh
/OCR-To-TEI/scripts/test_startWithConstant.sh
/OCR-To-TEI/src/main/resources/ocrOutputFiles/backup
/OCR-To-TEI/src/main/resources/modsFiles/test.xml
